mixin cardPremio(left, urlImg, titleCard, text)
  if left
    img(src=urlImg, alt="Imagen de premio")
    div.premio-cart--text
      h5=titleCard
      p=text
  else 
    div.premio-cart--text
      h5=titleCard
      p=text
    img(src=urlImg, alt="Imagen de premio")
      